<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spotv.smartalarm.mapper.LgeMetaMapper">
    <select id="getXmlMeta" resultMap="LgeMetaXmlResult">
	<![CDATA[ 
		SELECT A.title AS titlekr
		, B.league_name AS descriptionKr
		, REPLACE( B.league_logo, 'src', 'thumb' ) AS imageKr
		, REPLACE( B.league_logo, 'src', 'thumb' ) AS imageStillKo
		, CASE WHEN A.`status` = '1' THEN 'sporting_event' 
		       ELSE 'sproting_vod'	END AS contentType
		, CASE WHEN D.lge_sport_id <> '' THEN D.lge_sport_id
		       ELSE '' END AS sportId
		, CASE WHEN D.lge_sport_name <> '' THEN D.lge_sport_name
		       ELSE '' END AS sportName              
		, CASE WHEN C.lge_league_id <> '' THEN C.lge_league_id  
		       ELSE '' END AS leagueId
		, CASE WHEN C.lge_league_name <> '' THEN C.lge_league_name 
		       ELSE '' END AS leagueName
		, IFNULL(E.lge_team_id, '' ) AS teamTypeIdHome		       
		, IFNULL(E.lge_team_name, '' ) AS teamTypeNameHome
		, IFNULL(F.lge_team_id, '' ) AS teamTypeIdAway
		, IFNULL(F.lge_team_name, '' ) AS teamTypeNameAway
		, ROUND(UNIX_TIMESTAMP( B.begin_date )) AS startTime
		, ROUND(UNIX_TIMESTAMP( B.begin_date )) + 18000 AS endTime
		FROM spotvnow_renewal.lives A
		LEFT JOIN spotvnow_renewal.es_game_info B ON A.game_id = B.id
		LEFT JOIN spotvnow_renewal.lge_smart_alarm_game_league C ON B.game_league_id = C.game_league_id
		LEFT JOIN spotvnow_renewal.lge_smart_alarm_game_type D ON B.game_type_id = D.game_type_id
		LEFT JOIN ( SELECT * FROM spotvnow_renewal.lge_smart_alarm_tname_match WHERE game_entry_id <> 1 OR id = 101  ) E ON B.game_entry_home = E.game_entry_id 
		LEFT JOIN ( SELECT * FROM spotvnow_renewal.lge_smart_alarm_tname_match WHERE game_entry_id <> 1 OR id = 101 ) F ON B.game_entry_away = F.game_entry_id		
		WHERE SUBSTR( B.BEGIN_DATE, 1, 10) IN ( DATE(date_add( NOW(), INTERVAL 1 DAY )), DATE( NOW() ) )
		  AND B.type IN ( 1, 2 ) 
	]]> 
    </select>
    
	<resultMap id="LgeMetaXmlResult" type="net.spotv.smartalarm.vo.LgeMetaVO">
	    <result property="titlekr" column="titlekr"/>
	    <result property="descriptionKr" column="descriptionKr"/>
	    <result property="imageKr" column="imageKr"/>
	    <result property="imageStillKo" column="imageStillKo"/>
	    <result property="contentType" column="contentType"/>
	    <result property="sportId" column="sportId"/>
	    <result property="sportName" column="sportName"/>
	    <result property="leagueId" column="leagueId"/>
	    <result property="leagueName" column="leagueName"/>	    
	    <result property="teamTypeIdHome" column="teamTypeIdHome"/>
	    <result property="teamTypeNameHome" column="teamTypeNameHome"/>	    
	    <result property="teamTypeIdAway" column="teamTypeIdAway"/>
	    <result property="teamTypeNameAway" column="teamTypeNameAway"/>	    
	    <result property="startTime" column="startTime"/>
	    <result property="endTime" column="endTime"/>
	</resultMap>    		
</mapper>

