<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.spotv.smartalarm.mapper.TestMapper">
    <select id="getTestData" resultMap="TestResult">
		SELECT "this-this-this" as test 
		FROM Dual
    </select>
    
	<resultMap id="TestResult" type="net.spotv.smartalarm.vo.TestVO">
	    <result property="test" column="test"/>
	</resultMap>    
</mapper>

